
  
  <!-- Carousel -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- <div class="carousel-item">
            <img src="assets/images/homePage/Carousol_1.jpg" class="d-block w-100" alt="under499">
        </div> -->
        <div class="carousel-item active">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img25/Sports/Feb/GW/Hero/5298-Sports-----Bau-heros-7.1-pc._CB551361045_.jpg" class="d-block w-100" alt="HnK">
        </div>
        <div class="carousel-item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/OHL/24/BAU/feb/PC_hero_1_2x_1._CB582889946_.jpg" class="d-block w-100" alt="Amazon Fashion">
        </div>
        <div class="carousel-item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/GW/P42/Boult_3000x1200-PC._CB543542644_.jpg" class="d-block w-100" alt="Unrec - Hero">
        </div>
        <div class="carousel-item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img25/Sports/Feb/GW/Hero/5298-Sports-----Bau-heros-7.1-pc._CB551361045_.jpg" class="d-block w-100" alt="Under499">
        </div>
        <div class="carousel-item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Beauty/GW/Frame_5._CB551381047_.png" class="d-block w-100" alt="Amazon Fashion">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

